.landingpage{
  width: 45%;
  text-align: center;
  margin: 25px auto;

  img{
    width: 100%;
    box-shadow: lightgray 10px 10px 10px;
    margin: 5px;
    background-color: #E98;;
  }

  button{
    font-size: 20px;
  }
}
