<div class ='landingpage'>
  <form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
    <label for ="emailInput">Inscrivez-vous pour recevoir notre newsletter!</label><br>
    Email: <input type="email" id="emailInput" [(ngModel)]="userEmail" name="userEmail">
    Password: <input type="password" id="passwordInput" [(ngModel)]="password" name="password">
    <button type="submit">OK!</button>
  </form>
  <img src="assets/snapface.png"><br>
  <button (click)="onContinue()">Continuer vers les snaps</button>
</div>
